<ion-view title="About Us" ng-controller="aboutUsCtrl">
    <ion-content class="has-header">
        <div class="item item-body">
            <img class="full-image" src="img/company_logo.png">
        </div>
        <div class="item item-button-right" style="color:white;">
            Application enquiry contact
            <p>Muhsin.K</p>
            <p >Mob +9745786257</p>
            <p >Eramam Center</p>
             <p >muhzi4u@gmail.com</p>
            <button class="button button-positive" ng-click="call()">
               Call
            </button>
        </div>
    </ion-content>
</ion-view>
