<ion-view title="Welcome" ng-controller="WelcomeCtrl">
    <ion-content>
        <div>
            <div class="row">
                <div class="col col-80 col-offset-10">
                    <ion-slide-box on-slide-changed="slideHasChanged($index)" auto-play="true" slide-interval="2000" does-continue="true">
                        <ion-slide  >

                            <div class="box" style="text-align:center;">
                                <h5 >Thank you for Installing the App!</h5>
                                <img src="img/bd1.jpg" style="height: 140px; width:140px;">
                            </div>
                        </ion-slide>
                       
                        <ion-slide>

                            <div class="box" style="text-align:center;">
                                <h5 style="color:white;">Guaranteed delivery in 20 minutes</h5>
                                <img src="img/bd2.jpg" style="height: 140px; width:140px;">
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="box" style="text-align:center;">
                                <h5 style="color:white;">Beautiful furnitures</h5>
                                <img src="img/bd3.jpg" style="height: 140px; width: 140px;">
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="box" style="text-align:center;">
                                <h5 style="color:white;">Beautiful furnitures</h5>
                                <img src="img/bd4.jpg" style="height: 140px; width: 140px;">
                            </div>
                        </ion-slide>
                    </ion-slide-box>

                </div>
            </div>
        </div>
        
          
        
    </ion-content>
</ion-view>
